@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-primary: "Quicksand", sans-serif;

}

body {
  font-family: var(--font-primary);
}

.profile-box {
  @apply bg-black/50 shadow shadow-white/5 rounded-2xl p-6 backdrop-blur-2xl overflow-hidden; 
}

.profile-box-without-padding {
  @apply bg-black/50 shadow shadow-white/5 rounded-2xl backdrop-blur-2xl overflow-hidden; 
}

.social-media-box {
  @apply flex flex-row items-center justify-between w-full px-2;
}

.social-media-box:not(:last-child), .project-box:not(:last-child) {
  @apply border-b border-b-white/5;
}

.social-media-box:not(:first-child, :last-child) {
  @apply py-3;
}

.social-media-box:is(:first-child) {
  @apply pb-3;
}

.social-media-box:is(:last-child) {
  @apply pt-3;
}

.project-box {
  @apply flex items-center justify-between gap-4 pb-4 pt-2 me-4
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(99, 102, 241, 0.5);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(99, 102, 241, 0.7);
}
