:root{
    --font-family: 'Quicksand', sans-serif;
    --fw-bold:800;
    --fw-semibold:700;
    --fw-medium:500;
    --fw-reguler:400;
    --fs-sub-body: 14px;
    --fs-body: 16px;
    --fs-subtitle:18px;
    --fs-title:20px;
    --fs-head-title:22px;
    --fs-page-title:28px;
    --fs-hero-title:42px;
    --fs-hero-subtitle:30px;
    --bg-gradient: linear-gradient(to bottom right, #0A1428, #14213D);
    --clr-skills-gradient: linear-gradient(to right, #213B6B, #213b6b00);
    --clr-footer-button: #0A1428;
    --clr-section-box: #213B6B;
    --clr-primary: #FFC727;
    --clr-white: #FFFFFF;
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    background: var(--bg-gradient);
    font-family: var(--font-family);
    overflow-x: hidden;
    color: var(--clr-white);
    font-weight: var(--fw-reguler);
    font-size: var(--fs-body);
    scrollbar-color: var(--clr-primary) #14213D;
}

body[data-show-modal=show]{
    height: 100vh;
    overflow: hidden;
}

body::-webkit-scrollbar{
    width: 6px;
    height: 0;
}

body::-webkit-scrollbar-track{
    background-color: #14213D;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--clr-primary);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.scroll-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 9;
    box-shadow: 0 0 15px rgba(10, 20, 40, 0.3);
    cursor: pointer;
    background-color: var(--clr-section-box);
    border-radius: 10px;
    display: flex;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: all .15s linear;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.scroll-top:hover{
    border-color: var(--clr-white);
}

.scroll-top img{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

ul{
    list-style: none;
}

button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: var(--font-family);
    cursor: pointer;
}

a,a:hover,a:visited{
    text-decoration: none;
}

.contact-modal{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.contact-modal[data-show-modal=show]{
    visibility: visible;
    opacity: 1;
}

.overlay-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 11;
}

.content-modal{
    position: relative;
    z-index: 12;
    background: var(--clr-section-box);
    width: 500px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 25px;
}

.content-modal-title{
    font-size: var(--fs-head-title);
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}

.content-modal-title::after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 50%;
    height: 4px;
    background: var(--clr-primary);
    border-radius: 5px;
    transform: translateX(-50%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.input-group label{
    color: var(--clr-white);
    font-weight: var(--fw-medium);
    font-size: var(--fs-head-title);
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: all .15s linear;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.contact-form-input{
    background: var(--clr-footer-button);
    border: 1px solid transparent;
    color: var(--clr-white);
    resize: none;
    font-family: var(--font-family);
    font-size: var(--fs-sub-body);
    border-radius: 5px;
    padding: 20px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 35px;
    transition: all .15s linear ;
    -webkit-transition: all .15s linear ;
    -moz-transition: all .15s linear ;
    -ms-transition: all .15s linear ;
    -o-transition: all .15s linear ;
}

.contact-form-input:focus ~ label, .contact-form-input:not(:placeholder-shown) ~ label{
    color: var(--clr-primary);
    font-size: var(--fs-body);
    top: 8px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.contact-form-input:focus, .contact-form-input:not(:placeholder-shown){
    border-color: var(--clr-primary);
    padding-top: 38px;
}

textarea.contact-form-input ~ label{
    top: 1px;
    transform: translateY(0);
    padding: 10px;
    background-color: var(--clr-footer-button);
    width: calc(100% - 30px);
    border-radius: 2.5px 2.5px 0 0;
    left: 1px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-border-radius: 2.5px 2.5px 0 0;
    -moz-border-radius: 2.5px 2.5px 0 0;
    -ms-border-radius: 2.5px 2.5px 0 0;
    -o-border-radius: 2.5px 2.5px 0 0;
}

textarea.contact-form-input:focus ~ label, textarea.contact-form-input:not(:placeholder-shown) ~ label{
    top: 1px;
}

textarea.contact-form-input{
    height: 150px;
}

textarea.contact-form-input:focus{
    height: 150px;
}

.form-button-group{
    display: flex;
    align-items: center;
    justify-content: end;
}

.contact-form button{
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    font-weight: var(--fw-semibold);
    -o-border-radius: 5px;
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.contact-form button:hover{
    opacity: 0.75;
}

.close-modal-button{
    margin-right: 10px;
    background-color: var(--clr-footer-button);
    color: var(--clr-white);
}

.contact-submit-button{
    background-color: var(--clr-primary);
    color: var(--clr-footer-button);
}

button:focus, input:focus, textarea:focus{
    outline: none;
}

.content-wrapper{
    padding-top: 0;
    margin: auto 80px;
}

.content-section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-title{
    text-align: center;
    font-size: var(--fs-page-title);
    position: relative;
    margin-bottom: 80px;
}

.section-title::after{
    content: "";
    display: block;
    position: absolute;
    width: 145px;
    height: 4px;
    background-color: var(--clr-primary);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.navbar{
    width: 100%;
}

.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5px;
}

.navbar-list li{
    margin: 0 10px;
}

.navbar-link{
    display: flex;
    padding: 2.5px 7.5px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar-link::after{
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: var(--clr-primary);
    border-radius: 50%;
    left: 50%;
    bottom: -7.5px;
    opacity: 0;
    transform: translateX(-50%);
    transition: all .15s linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.navbar-link.active::after{
    opacity: 1;
}

.navbar-link:hover::after{
    opacity: 1;
}

.navbar-link svg path{
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.navbar-link.active #home-icon path, .navbar-link.active #user-icon path, .navbar-link.active #code-icon path, .navbar-link.active #contact-icon path, .navbar-link:hover #home-icon path, .navbar-link:hover #user-icon path, .navbar-link:hover #code-icon path, .navbar-link:hover #contact-icon path{
    fill: var(--clr-primary);
}

.navbar-link.active #education-icon path, .navbar-link.active #list-project-icon path, .navbar-link:hover #education-icon path, .navbar-link:hover #list-project-icon path{
    stroke: var(--clr-primary);
}

#home-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}

.home-highlighted-text{
    color: var(--clr-primary);
}

.home-title{
    font-size: var(--fs-hero-title);
}

.home-subtitle{
    font-size: var(--fs-hero-subtitle);
}

.home-box-group{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 15px;
}

.home-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: var(--fw-medium);
    border: 1px solid var(--clr-white);
    color: var(--clr-white);
    text-align: center;
    transition: all .15s linear;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.home-box:hover{
    border-color: var(--clr-primary);
}

.home-box svg{
    margin-bottom: 5px;
    transition: all .15s linear;
    transform: translateY(11px);
    -webkit-transform: translateY(11px);
    -moz-transform: translateY(11px);
    -ms-transform: translateY(11px);
    -o-transform: translateY(11px);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.home-box svg path{
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.home-box:hover svg path{
    fill: var(--clr-primary);
}

.home-box-text{
    opacity: 0;
    font-size: var(--fs-sub-body);
    font-weight: var(--fw-medium);
    transition-delay: .3s;
    transition: all .15s linear;
    transform: translateY(10px);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.home-box:hover svg{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.home-box:hover .home-box-text{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.about-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text-group{
    width: 60%;
}

.about-text{
    font-size: var(--fs-body);
    font-weight: var(--fw-reguler);
    margin: 20px 0;
}

.service-box-group{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px;
    column-gap: 30px;
    justify-content: center;
}

.service-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    border: 1px solid var(--clr-white);
    border-radius: 10px;
    font-size: var(--fs-title);
    transition: all .15s linear;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.service-box:hover{
    border-color: var(--clr-primary);
}

#skills-section .section-title{
    margin-bottom: 50px;
}

.skill-category{
    display: grid;
    grid-template-columns: 230px 230px 230px;
    column-gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

.skill-button{
    background-color: transparent;
    padding: 10px 0;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    font-family: var(--font-family);
    border: 1px solid var(--clr-primary);
    color: var(--clr-white);
    font-weight: var(--fw-medium);
    transition: all .15s linear;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.skill-button:hover{
    opacity: 0.75;
}

.skill-button.active{
    background-color: var(--clr-primary);
    font-weight: var(--fw-semibold);
    color: #14213D;
}

.skill-img-group{
    background: var(--clr-skills-gradient);
    margin-left: -80px;
    margin-right: -80px;
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-img-group img{
    margin: 25px;
}

.skill-img-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.education-content-wrapper{
    display: flex;
    flex-direction: column;
}

.education-box-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 170px;
}

.education-box-wrapper:not(:last-child){
    margin-bottom: 20px;
}

.education-box{
    width: calc(50% - 50px);
}

.career-box{
    width: calc(50% - 50px);
    text-align: right;
}

.education-box, .career-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#education-section .box-title{
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    color: var(--clr-white);
}

#education-section .box-subtitle{
    /* margin-top: 5px; */
    margin-bottom: 15px;
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-medium);
    color: var(--clr-primary);
}

#education-section .box-description{
    font-size: var(--fs-body);
    font-weight: var(--fw-reguler);
    color: var(--clr-white);
}

.project-content-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 22vw);
    grid-template-rows: repeat(4, 22vw);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
}

.project-content-wrapper img{
    width: fit-content;
}

.project-box{
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .15s linear;
    cursor: zoom-in;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.project-box::after{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(10, 20, 40, 0.3);
    z-index: 2;
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.project-box:hover::after{
    visibility: hidden;
    opacity: 0;
}   

#project-box-1 {
    background-image: url("../../img/loopstudios.PNG");
    grid-area: 1 / 1 / 2 / 3;
}
#project-box-2 {
    background-image: url("../../img/bumdes.PNG");
    grid-area: 1 / 3 / 2 / 4;
}
#project-box-3 {
    background-image: url("../../img/sunnyside.PNG");
    grid-area: 1 / 4 / 2 / 5;
}
#project-box-4 {
    background-image: url("../../img/smait-abu-bakar.PNG");
    grid-area: 2 / 1 / 3 / 2;
}
#project-box-5 {
    background-image: url("../../img/rest-countries.PNG");
    grid-area: 2 / 2 / 3 / 3;
}
#project-box-6 {
    background-image: url("../../img/covid-19-web.PNG");
    grid-area: 2 / 3 / 3 / 5;
}
#project-box-7 {
    background-image: url("../../img/central-adventure.PNG");
    grid-area: 3 / 1 / 4 / 3; 
}
#project-box-8 {
    background-image: url("../../img/covid-19-web.PNG");
    grid-area: 3 / 3 / 4 / 4; 
}
#project-box-9 {
    background-image: url("../../img/covid-19-web.PNG");
    grid-area: 3 / 4 / 4 / 5; 
}
#project-box-10 {
    background-image: url("../../img/rest-countries.PNG");
    grid-area: 4 / 1 / 5 / 2; 
}
#project-box-11 {
    background-image: url("../../img/rest-countries.PNG");
    grid-area: 4 / 2 / 5 / 3; 
}
#project-box-12 {
    background-image: url("../../img/rest-countries.PNG");
    grid-area: 4 / 3 / 5 / 5; 
}

.project-link{
    color: var(--clr-white);
    display: flex;
    font-weight: var(--fw-medium);
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10, 20, 40, 0.8);
    padding: 0 25px;
    position: absolute;
    z-index: 3;
    height: 45px;
    bottom: 0;
    width: 100%;
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.project-link:hover{
    background-color: rgba(10, 20, 40, 1);
}

.project-name{
    position: relative;
    display: block;
    max-width: 30vw;
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    white-space: nowrap;
}

.project-name::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 2px;
    left:0;
    width: 0;
    opacity: 0;
    height: 2px;
    background-color: var(--clr-white);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
}

.project-link:hover .project-name::after{
    opacity: 1;
    width: 50%;
}

.project-link img{
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.project-link:hover img{
    transform: translateX(8px);
    -webkit-transform: translateX(8px);
    -moz-transform: translateX(8px);
    -ms-transform: translateX(8px);
    -o-transform: translateX(8px);
}

.contact-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-box-wrapper{
    background: var(--clr-section-box);
    padding: 30px;
    padding-left: 50px;
    width: 50%;
    margin-left: -80px;
    border-radius: 0 25px 25px 0;
    -webkit-border-radius: 0 25px 25px 0;
    -moz-border-radius: 0 25px 25px 0;
    -ms-border-radius: 0 25px 25px 0;
    -o-border-radius: 0 25px 25px 0;
}

.contact-box-title{
    font-size: var(--fs-head-title);
    color: var(--clr-primary);
}

.contact-box-description{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.contact-box-button{
    background: var(--clr-primary);
    padding: 7.5px 15px;
    border-radius: 5px;
    color: var(--clr-section-box);
    font-weight: var(--fw-semibold);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.contact-box-button img{
    margin-left: 10px;
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.contact-box-button:hover{
    opacity: 0.75;
}

.contact-box-button:hover img{
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}

.contact-img-wrapper{
    width: 50%;
    text-align: center;
}

.footer-section{
    background-color: var(--clr-section-box);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: -20px;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px 50px 0 0;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    -ms-border-radius: 50px 50px 0 0;
    -o-border-radius: 50px 50px 0 0;
}

.footer-title{
    color: var(--clr-primary);
    font-size: var(--fs-hero-subtitle);
}

.footer-button-wrapper{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.footer-description{
    margin-top: 15px;
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-medium);
}

.footer-button{
    background-color: var(--clr-footer-button);
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.footer-copyright-text{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
    font-weight: var(--fw-reguler);
}

.footer-button:hover{
    opacity: 0.75;
}

.lightbox-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.lightbox-modal[data-show-modal="show"]{
    visibility: visible;
    opacity: 1;
}

.lightbox-modal[data-show-modal="show"] + .content-wrapper{
    height: 100vh;
    overflow: hidden;
}

.lightbox-modal .overlay-modal{
    background-color: rgba(0, 0, 0, 0.8);
}

.content-lightbox{
    position: relative;
    z-index: 12;
    width: 80vw;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    visibility: hidden;
    opacity: 0;
}

.lightbox-modal[data-show-modal=show] .modal-header{
    visibility: visible;
    opacity: 1;
}

.lightbox-title{
    font-size: var(--fs-head-title);
    color: var(--clr-white);
}

.close-lightbox-button{
    font-size: var(--fs-hero-title);
    width: 40px;
    height: 40px;
    color: var(--clr-white);
    background-color: transparent;
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.close-lightbox-button:hover{
    opacity: 0.75;
}

.modal-body{
    text-align: center;
}

.modal-body img{
    width: 10px;
    min-height: 20vh;
    opacity: 0;
    transition: all .15s linear;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
}

.modal-body img[data-image-show=show]{
    width: 80vw;
    opacity: 1;
    /* width: 80vw; */
    /* opacity: 0; */
}

@media(min-width:1440px){
    .skill-img-wrapper{
        width: 75%;
    }

    .contact-box-wrapper{
        padding: 40px;
        padding-left: 80px;
    }

    .contact-box-description{
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

@media(max-width:1130px){
    :root{
        --fs-hero-title: 36px;
        --fs-hero-subtitle:24px;
    }

    .content-wrapper{
        margin: auto 40px;
    }

    .skill-img-group{
        margin-left: -40px;
        margin-right: -40px;
        padding: 30px 40px;
    }

    .contact-box-wrapper{
        margin-left: 0;
    }

    .contact-content-wrapper{
        flex-direction: column-reverse;
        gap: 20px;
    }

    .contact-img-wrapper{
        width: 100%;
    }

    .contact-img-wrapper img{
        width: inherit;
        height:300px;
    }

    .contact-box-wrapper{
        width: 75%;
        text-align: center;
        padding: 30px;
        border-radius: 0 0 30% 30%;
        -webkit-border-radius: 0 0 30% 30%;
        -moz-border-radius: 0 0 30% 30%;
        -ms-border-radius: 0 0 30% 30%;
        -o-border-radius: 0 0 30% 30%;
    }
    .contact-box-description{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 20px;
    }


}

@media(max-width:910px){
    #home-section{
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }

    .home-title-group{
        margin-bottom: 40px;
    }

    .about-content-wrapper img{
        margin-right: 30px;
    }

    .home-box-group{
        display: flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
    }

    .home-box{
        width: 100px;
        height: 100px;
    }
}



@media(max-width:768px){
    .about-content-wrapper{
        flex-direction: column;
        text-align: center;
    }

    .about-content-wrapper img{
        margin-right: 0;
        margin-bottom: 30px;
    }

    .about-text-group{
        width: 100%;
    }

    .service-box-group{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }

    .service-box{
        width: 200px;
        height: 200px;
    }

    .skill-category{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px   ;
        justify-content: center;
    }

    .skill-button{
        width: 230px;
    }

    .education-box-wrapper{
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .education-box{
        width: 100%;
        position: relative;
    }

    .education-box::after, .career-box::after{
        content: "";
        display: block;
        position: absolute;
        width: 50%;
        height: 2px;
        border-radius: 10px;
        bottom: -10px;
        transition: all .15s linear;
        background-color:rgba(255, 255, 255, 0.5);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        -webkit-transition: all .15s linear;
        -moz-transition: all .15s linear;
        -ms-transition: all .15s linear;
        -o-transition: all .15s linear;
    }

    .education-box::after{
        right: 0;
    }

    .contact-box-wrapper{   
        width: 100%;
    }

    .career-box::after{
        left: 0;
    }

    .career-box{
        width: 100%;
        position: relative;
    }

    .box-divider{
        display: none;
    }

    .project-content-wrapper{
        grid-template-columns: repeat(3, 30vw);
        grid-template-rows: repeat(6, 35vw);
    }

    #project-box-1 { grid-area: 1 / 1 / 2 / 3; }
    #project-box-2 { grid-area: 1 / 3 / 2 / 4; }
    #project-box-3 { grid-area: 2 / 1 / 3 / 2; }
    #project-box-4 { grid-area: 2 / 2 / 3 / 4; }
    #project-box-5 { grid-area: 3 / 1 / 4 / 3; }
    #project-box-6 { grid-area: 3 / 3 / 4 / 4; }
    #project-box-7 { grid-area: 4 / 1 / 5 / 2; }
    #project-box-8 { grid-area: 4 / 2 / 5 / 4; }
    #project-box-9 { grid-area: 5 / 1 / 6 / 3; }
    #project-box-10 { grid-area: 5 / 3 / 6 / 4; }
    #project-box-11 { grid-area: 6 / 1 / 7 / 2; }
    #project-box-12 { grid-area: 6 / 2 / 7 / 4; }
}

@media (max-width:550px){

    .content-wrapper{
        margin: auto 20px;
        padding: 0;
    }

    .navbar{
        background-color:var(--clr-section-box);
        z-index: 8;
        position: fixed;
        bottom: 0;
        box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.35)  ;
        width: 100vw;
        border-radius: 15px 15px 0 0;
        margin-left: -20px;
        margin-right: -20px;
        -webkit-border-radius: 15px 15px 0 0;
        -moz-border-radius: 15px 15px 0 0;
        -ms-border-radius: 15px 15px 0 0;
        -o-border-radius: 15px 15px 0 0;
}

    .navbar-list{
        gap: 10px;
        justify-content: space-around;
        padding: 10px;
    }

    .navbar-list li{
        margin: 0;
    }

    .navbar-link::after{
        bottom: -5px;
        width: 0;
        height: 3px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .navbar-link:hover::after{
        width: 30%;
    }

    .contact-modal .content-modal{
        width: 90vw ;
    }

    .content-modal-title{
        font-size: var(--fs-title);
    }

    .content-modal-title::after{
        height: 2px;
        bottom: -7px;
    }

    .scroll-top{
        right: 10px;
        bottom: 65px;
        transform: scale(0.85);
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        -ms-transform: scale(0.85);
        -o-transform: scale(0.85);
}
}

@media (max-width:468px) {
    :root{
        --fs-sub-body:12px;
        --fs-body:14px;
        --fs-subtitle:16px;
        --fs-title:18px;
        --fs-head-title:20px;
        --fs-page-title:22px;
        --fs-hero-title:32px;
        --fs-hero-subtitle:20px;
    }

    .navbar-link svg{
        width: 32.5px;
        height: 32.5px;
    }

    #home-section{
        height: auto;
    }

    .home-subtitle{
        margin-top: 10px;
    }

    .skill-img-group{
        margin-left: -20px;
        margin-right: -20px;
        padding: 20px 30px;
    }

    .skill-img-wrapper{
        gap: 35px;
    }

    .skill-img-group img{
        margin: 0;
    }

    .project-content-wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 25vh);
    }

    #project-box-1 { grid-area: 1 / 1 / 2 / 2; }
    #project-box-2 { grid-area: 2 / 1 / 3 / 2; }
    #project-box-3 { grid-area: 3 / 1 / 4 / 2; }
    #project-box-4 { grid-area: 4 / 1 / 5 / 2; }
    #project-box-5 { grid-area: 5 / 1 / 6 / 2; }
    #project-box-6 { grid-area: 6 / 1 / 7 / 2; }
    #project-box-7 { grid-area: 7 / 1 / 8 / 2; }
    #project-box-8 { grid-area: 8 / 1 / 9 / 2; }
    #project-box-9 { grid-area: 9 / 1 / 10 / 2; }
    #project-box-10 { grid-area: 10 / 1 / 11 / 2; }
    #project-box-11 { grid-area: 11 / 1 / 12 / 2; }
    #project-box-12 { grid-area: 12 / 1 / 13 / 2; }

    .project-name{
        max-width: 75vw;
    }

    .project-link{
        padding-left: 20px;
    }

    .footer-title{
        font-size: 24px;
    }

    .footer-description{
        font-size: var(--fs-body);
    }
}

@media (max-width:350px){
    .navbar-link svg{
        width: 25px;
        height: 25px;
    }
}